[Unit]
Description=EMS Server Service
After=network.target

[Service]
User=root
Restart=always
Type=forking
ExecStart=/opt/EMS/ems_server.py -d

[Install]
WantedBy=multi-user.targe
